$font-size-root: 14px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ( small: 20 );
$btn-font-sizes: ( default: 1rem, large: 1rem );
$btn-sizes: ( default: 41, large: 54 );
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 16px;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  'h5': ( 'size': 1.0625rem ),
  'h6': ( 'size': .75rem ),
  'subtitle-2': ( 'size': 1rem ),
  'overline': ( 'letter-spacing': 0 )
);

.v-data-table{
  thead {
    th {
      font-size: 14px !important;
      font-weight: 400 !important;
      color:black !important;
      border-bottom:solid 1px#363636 !important;
    }
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 450px;
  border: 1px solid #dddddd;
}


.styled-table thead tr {
  background-color: #58a2f7;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 5px 15px;
}



.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}



.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}






.styled-table-2 {
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  min-width: 450px;
  border: 1px solid #dddddd;
}


.styled-table-2 thead tr {
  background-color: #58a2f7;
  color: #ffffff;
  text-align: left;
}

.styled-table-2 th,
.styled-table-2 td {
    padding: 5px 15px;
}



.styled-table-2 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table-2 tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}



.styled-table-2 tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}